.home-wrapper {
  header {
    background: url(../../../public/bg_head.png) repeat center center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
  }

  a, a:active, a:hover, a:visited {
    text-decoration: none
  }

  a:focus {
    outline: 0 auto -webkit-focus-ring-color;
    text-decoration: none
  }

  .container {
    min-height: 100%;
  }

  h1 {
    color: #ff4641;
    width: 100%;
    height: auto;
    top: 45%;
    left: 0;
    position: absolute;
    font-size: 5em;
  }
}