.notfound-wrapper {
  header {
    margin: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url(./bg_head.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    text-align: center;

  }

  a, a:active, a:hover, a:visited {
    text-decoration: none;
  }

  a:focus {
    outline: 0 auto -webkit-focus-ring-color;
    text-decoration: none;
  }

  .detail {
    h1.big {
      margin-top: 25vh;
      color: white;
    }

    a {
      margin-top: 20px;
      font-size: 1.2em;
    }

  }
}

