.notfound-wrapper {
  text-align: center;
  header {
    background: url(../../../public/bg_head.png) repeat center center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
  }

  a, a:active, a:hover, a:visited {
    text-decoration: none;
  }

  a:focus {
    outline: 0 auto -webkit-focus-ring-color;
    text-decoration: none;
  }

  .detail {
    h1.big {
      margin-top: 25vh;
      color: white;
    }

    a {
      margin-top: 20px;
      font-size: 1.2em;
    }

  }
}

