.navbar-wrapper {
  .nav-extra {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    ul {
      padding: 0;
      margin: auto;
      li {
        display: inline;
        list-style-type: none;
        .a, a:active, a:hover, a:visited {
          text-decoration: none
        }

        a:focus {
          outline: 0 auto -webkit-focus-ring-color;
          text-decoration: none
        }

        .button-mywall {
          background: #EC0856;
          color: #FFF;
          border-radius: 30px;
          font-weight: 400;
          font-size: 22px;
          padding-right: 20px;
          padding-left: 20px;
          padding-bottom: 10px;
          padding-top: 10px;
          line-height: 58px;
          text-align: center;
          -webkit-transition: all .5s;
          transition: all .5s;
          text-decoration: none
        }

        .button-mywall:active, .button-mywall:hover {
          color: #FFF;
          background: #202648;
          border-color: rgba(255, 255, 255, .3)
        }

        .button-mywall:focus {
          color: #FFF
        }

        .button-mywall {
          background: rgba(236, 8, 86, 0);
          /*border: 2px solid #2ECC6E;*/
        }

        .button-mywall:active, .button-mywall:hover {
          color: #FFF;
          background: #2ECC6E;
          border-color: #2ECC6E;
        }

        .button-mywall.active {
          color: #FFF;
          background: #2ECC6E;
          border-color: #2ECC6E;
        }
      }
    }

  }

  nav > a > img.logo {
    max-width: 100%;
  }

  /*for mobile*/
  @media (max-width: 990px) {
    nav {
      padding-top: 20px;
      padding-bottom: 10px;
      text-align: center;

    }

    nav > a > img.logo {
      margin-bottom: 15px
    }
    .nav-extra {
      ul {
        li {
          .button-mywall {
            padding-right: 10px;
            padding-left: 10px;
            padding-bottom: 1px;
            padding-top: 1px;
            font-size: 1.3em;
          }
        }
      }
    }

  }

  /*for desktop*/
  @media (min-width: 990px) {
    nav {
      padding-top: 51px;
      padding-bottom: 41px;
    }

    nav > a > img.logo {
      float: left;
    }

    .nav-extra {
      float: right;
    }

  }
}




